Package: com.gfp.prysm
Name: Prysm
Depends: mobilesubstrate, com.laughingquoll.prefixui, com.opa334.ccsupport
Architecture: iphoneos-arm
Description: 重新定義您的控制中心。 Your control center, reimagined.
Depiction: https://guofenpai.github.io/repo/description.html?id=com.gfp.prysm
Icon: https://guofenpai.github.io/repo/icon/prysm.png
Maintainer: LaughingQuoll
Author: LaughingQuoll
Section: Tweaks
Version: 1.6
Installed-Size: 2960
